<DependencyStore>
  <BuildDirectories>
    <Build Path="C:\Home\Source\Machine\Build" />
  </BuildDirectories>
  <LibraryDirectories>
    <Library Path="C:\Home\Source\JL\DependencyStore\Libraries" />
    <Library Path="C:\Home\Source\CardQueue\Libraries" />
  </LibraryDirectories>
</DependencyStore>
