<DependencyStore>
  <BuildDirectories>
    <Build Path="C:\Home\Source\Machine\Build" />
    <Build Path="D:\Home\Source\Machine\Build" />
    <Build Path="D:\Home\Source\Open\MassTransit\bin" />
  </BuildDirectories>
  <LibraryDirectories>
    <Library Path="C:\Home\Source\JL\DependencyStore\Libraries" />
    <Library Path="C:\Home\Source\CardQueue\Libraries" />
    <Library Path="D:\Home\Source\JL\DependencyStore\Libraries" />
    <Library Path="D:\Home\Source\Projects\CardQueue\Libraries" />
    <Library Path="D:\Home\Source\Projects\MessagingExample\Libraries" />
  </LibraryDirectories>
</DependencyStore>
